<ion-view view-title="Detalle">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div ng-if="$parent.isOnline()" class="hero has-mask slide-up" style="background-image: url(http://res.cloudinary.com/k3n3th/image/upload/v1455838822/unisuper/{{productDetail.ProductStore.image}});">
            <div class="content">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart assertive pull-right text-white" ng-click="addFavorite(productDetail)"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-android-people pull-right text-white" ui-sref="app.friends" ng-click="$parent.shareProduct(productDetail)"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white" ui-sref="app.map"></button>
            </div>
        </div>
        <div ng-if="$parent.isOffline()" class="hero has-mask slide-up" style="background-image: url(img/genericProduct.jpg);">
            <div class="content">
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right text-white" ng-click="addFavorite(productDetail)" ui-sref="app.fav"></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-android-people pull-right text-white" ui-sref="app.friends" ng-click=""></button>
                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white" ui-sref="app.map"></button>
            </div>
        </div>
        <div class="mid-bar dark-bg z1 padding">
            <h3><i class="icon ion-social-usd"> </i>Precio</h3>
            <div class="row">
                <div class="col">
                    <p style="color:white;">Normal</p>
                </div>
                <div class="col">
                    <span class="badge badge-assertive">Q.{{productDetail.ProductStore.normalPrice}}</span>
                </div>
                <div class="col">
                    <p style="color:white;">Oferta</p>
                </div>
                <div class="col">
                    <span class="badge badge-balanced">Q.{{productDetail.ProductStore.offerPrice}}</span>
                </div>
            </div>
        </div>
        <div class="content double-padding">
            <h4 class="positive">Producto</h4>
            <p class="text-muted">
                {{productDetail.description}}
            </p>
            <h3 class="outline padding balanced inline img-rounded">
        {{productDetail.ProductStore.likes}} <i class="icon ion-thumbsup"></i>
      </h3>
        </div>
    </ion-content>
</ion-view>
