<ion-view view-title="Detalle">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div ng-if="$parent.isOnline()" class="hero slide-up" style="background-image: url(http://res.cloudinary.com/k3n3th/image/upload/v1455838822/unisuper/{{productDetail.ProductStore.image}});">
        </div>

        <div ng-if="$parent.isOffline()" class="hero slide-up" style="background-image: url(img/genericProduct.jpg);">
        </div>

        <div class="tabs tabs-dark tabs-icon-top static">
            <a ng-click="addFavorite(productDetail)" ui-sref="app.fav" class="tab-item">
                <i class="icon ion-heart"></i> Favoritos
            </a>
            <a ui-sref="app.friends" ng-click="" class="tab-item">
                <i class="icon ion-android-people"></i> Compartir
            </a>
            <a ui-sref="app.map" class="tab-item">
                <i class="icon ion-android-pin"></i> Mapas
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left"> <i class="icon ion-social-usd"></i> Precio Normal <span class="badge badge-assertive">{{productDetail.ProductStore.normalPrice}}</span> </a>
            <a class="item item-icon-left"> <i class="icon ion-social-usd"></i> Precio Oferta <span class="badge badge-balanced">{{productDetail.ProductStore.offerPrice}}</span> </a>
        </div>
        <div class="list card stable-bg">
            <div class="item item-body">
                {{productDetail.description}}
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5"> <i class="icon ion-thumbsup"></i>{{productDetail.ProductStore.likes}} Like </a>
            </div>
        </div>

    </ion-content>
</ion-view>
