<ion-view view-title="Favoritos">
    <ion-content ng-class="{expanded:isExpanded}">
            <div class="list animate-fade-slide-in-right" ng-repeat="product in favorites">
               <a href="#/app/detalle" class="item item-avatar item-icon-right">
                    <img ng-src="{{product.image}}">
                    <h2>{{product.description}}</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-heart"></i>
                </a>

            </div>
            <ion-footer-bar class="tabs tabs-positive">
        <a class="tab-item" ui-sref="app.offer"> <i class="icon ion-home"></i> </a>
        <a class="tab-item active" ui-sref="app.fav"> <i class="icon ion-star"></i> </a>
        <a class="tab-item"> <i class="icon ion-gear-a"></i> </a>
    </ion-footer-bar>
    </ion-content>
</ion-view>
