<ion-view view-title="Favoritos">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-refresher pulling-text="Recargado favoritos" on-refresh="reload()"></ion-refresher>
        <div class="list animate-fade-slide-in-right" ng-last-repeat="mylist" ng-repeat="product in favorites">
            <div class="item item-avatar item-icon-right" ng-click="setProductDetail(product)">
                <img ng-if="$parent.isOnline()" ng-src="http://res.cloudinary.com/k3n3th/image/upload/w_50,h_50/v1455838822/unisuper/{{product.ProductStore.image}}" ui-sref="app.detalle">
                <img ng-if="$parent.isOffline()" ng-src="img/genericProduct.jpg" ui-sref="app.detalle">
                <h2 ui-sref="app.detalle">{{product.description}}</h2>
                <p ui-sref="app.detalle">PN Q. {{product.ProductStore.normalPrice}} <b>PO Q. {{product.ProductStore.offerPrice}} Hasta {{ product.dateEnd | date:"dd/MM/yyyy" }}</b></p>
                <i align="left" class="icon ion-android-delete" ng-click="deleteProductFav(product)"></i>
            </div>
        </div>
        <br>
        <br>
    </ion-content>
</ion-view>
