<ion-view view-title="Chaplist" align-title="left">
    <ion-content style="background: url(img/FondoPantallas.jpg) center; background-size: cover;">

        <ion-refresher pulling-text="" on-refresh="reload()"></ion-refresher>

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Chaplist</h1>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="animate-fade-slide-in">
            <ion-slide ng-repeat="product in topOffers" ng-last-repeat="mylist">
                <div class="item card-item" ng-click="setProductDetail(product)">
                    <div ui-sref="app.detalle" class="card stable-bg ink ink-dark">
                        <div class="item item-avatar item-text-wrap">
                            <span class="avatar" style="background-image: url('http://res.cloudinary.com/k3n3th/image/upload/w_50/v1455838760/unisuper/{{product.Offers[0].ProductStore.image}}');"></span>
                            <strong>{{product.description}}</strong>
                            <div class="item item-body">
                                <strong>Precio</strong>
                                <div class="list">
                                    <a class="item item-icon-right">
                                        <i class="badge badge-assertive">Q.{{product.Offers[0].ProductStore.normalPrice}}</i>Normal
                                    </a>
                                    <a class="item item-icon-right">
                                        <i class="badge badge-balanced">Q.{{product.Offers[0].ProductStore.offerPrice}}</i><strong> Oferta</strong>
                                    </a>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <i class="icon ion-thumbsup positive"></i> {{product.Offers[0].ProductStore.likes}}
                                <div class="pull-left">
                                    <i class="icon ion-clock"></i> {{product.Offers[0].dateEnd.split('T')[0]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="button-bar  social-login">
        <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ui-sref="app.map">Mapa</button>
        <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="facebookLogin()">Facebook</button>
        <button class="button button-small button-border icon-left  button-calm-900" ui-sref="app.offer">Ofertas</button>
    </div>
</ion-view>
