<ion-view view-title="ChapList" align-title="left">
    <ion-content style="background: url(img/FondoPantallas.jpg) center; background-size: cover;">

        <ion-refresher pulling-text="" on-refresh="reload()"></ion-refresher>

        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>ChapList</h1>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="animate-fade-slide-in">
            <ion-slide ng-repeat="product in topOffers" ng-last-repeat="mylist">
                <div class="item card-item" ng-click="setProductDetail(product)">
                    <div ui-sref="app.detalle" class="card stable-bg ink ink-dark">
                        <div class="item item-avatar item-text-wrap">
                            <span class="avatar" style="background-image: url('http://res.cloudinary.com/oktacore/w_50/{{product.image}}');"></span>
                            <strong>{{product.description}}</strong>
                            <div class="item item-body">
                                <i class="icon ion-pricetag balanced"></i> <strong>Precio</strong>
                                <a class="item item-icon-right">
                                    <i class="badge badge-balanced">Q.{{product.offerPrice}}</i><strong>Oferta</strong>
                                </a>
                            </div>
                            <div class="card-footer text-right">
                                <i class="icon ion-heart assertive"></i> {{product.likes}}
                                <div class="pull-left">
                                    <i class="icon ion-clock"></i> {{ product.dateEnd | date:'dd MMMM yyyy' }}
                                </div>
                                <i class="icon ion-ios-cart"></i> {{product.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="button-bar  social-login">
        <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ui-sref="app.map">Mapa</button>
        <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="facebookLogin()">Facebook</button>
        <button class="button button-small button-border icon-left ion-ios-cart button-calm-900" ui-sref="app.offer">Ofertas</button>
    </div>
</ion-view>
