<ion-view view-title="Chaplist" align-title="left">
    <ion-content style="background: url(img/FondoPantallas.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Chaplist</h1>
            </div>
        </div>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-class="{expanded:isExpanded}" class="animate-fade-slide-in" >

            <ion-slide ng-repeat="offer in topOffers">
                <div class="item card-item">
                    <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                        <div class="item item-avatar item-text-wrap">
                            <span class="avatar" style="background-image: url('img/fondD.jpg');"></span>
                            <strong>Jon Snow</strong> knows nothing.
                            <div class="card-footer text-right">
                                <i class="icon ion-chatbubbles positive"></i> 6
                                <i class="icon ion-heart assertive"></i> 23
                                <div class="pull-left">
                                    <i class="icon ion-clock"></i> just now
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>

        </ion-slide-box>
    </ion-content>
    <div class="button-bar  social-login">
        <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ui-sref="app.map">Mapa</button>
        <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click="facebookLogin()">Facebook</button>
        <button class="button button-small button-border icon-left  button-calm-900" ui-sref="app.offer">Ofertas</button>
    </div>
</ion-view>
