<ion-view view-title="Ofertas">
    <ion-footer-bar class="tabs tabs-positive">
        <a class="tab-item active"> <i class="icon ion-home"></i> </a>
        <a class="tab-item" ui-sref="app.fav"> <i class="icon ion-star"></i> </a>
        <a class="tab-item"> <i class="icon ion-gear-a"></i> </a>
    </ion-footer-bar>
    <ion-content class="animate-fade-slide-in">
        <!--ng-class="{expanded:isExpanded}"-->
        <div class="list condensed-space no-padding animate-blinds">
            <div class="card energized-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.products">
                    <h2>La Torre</h2>
                    <p>Land of Unicorns</p>
                    <!--<img src="img/la_torre.jpg" style="filter: blur(3px); -webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);">-->
                    <img src="img/portada_2.jpg">
                </a>
            </div>
            <div class="card balanced-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.products">
                    <h2>WallMart</h2>
                    <p>More Than the Other Down Under</p>
                    <img src="img/wallmart.jpg" style="filter: blur(3px); -webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);">
                </a>
            </div>
            <div class="card dark-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.products">
                    <h2>Econo Super</h2>
                    <p>Drake's Raptastic Raptors</p>
                    <img src="img/econo.jpg" style="filter: blur(3px); -webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);">
                </a>
            </div>
            <div class="card assertive-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.products">
                    <h2>Paiz</h2>
                    <p>Cultural Experience</p>
                    <img src="img/paiz.jpg" style="filter: blur(3px); -webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);">
                </a>
            </div>
            <div class="card balanced-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.products">
                    <h2>Maxi</h2>
                    <p>More Than the Other Down Under</p>
                    <img src="img/maxi.jpg" style="filter: blur(3px); -webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
