<ion-view view-title="Ofertas">
    <ion-content class="animate-fade-slide-in" style="background: url(img/FondoPantallas.jpg) center; background-size: cover;">
        <!--ng-class="{expanded:isExpanded}"-->
        <div class="list  no-padding animate-blinds" ng-repeat="supermarket in supermarkets">
            <div class="card energized-bg">
                <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ng-click="setSupermarketId(supermarket.id, supermarket)" ui-sref="app.products">
                    <h2>{{supermarket.name}}</h2>
                     <!--<img ng-src={{supermarket.image}}>-->
                    <img ng-if="$parent.isOnline()" ng-src="http://res.cloudinary.com/k3n3th/image/upload/v1455838822/unisuper/{{supermarket. categoriesImage}}">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
