<ion-view view-title="Productos">
    <!--<button id="fab" class="button button-positive button-fab button-fab-bottom-right activated " style="display: block;" ng-click="showFilterBar()">
        <i class="icon ion-search"></i>
    </button>-->
    <!--         <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>-->
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list half">
            <div ui-sref="app.detalle" class="card card-gallery item item-text-wrap" ng-repeat="product in products" ng-last-repeat="mylist" ng-if="$odd">
                <div ng-click="setProductDetail(product)">
                    <div class="ink dark-bg">
                        <h2>{{product.description}}</h2>
                        <img ng-if="$parent.isOnline()" class="full-image" ng-src="http://res.cloudinary.com/k3n3th/image/upload/v1455838760/unisuper/{{product.ProductStore.image}}">
                        <img ng-if="$parent.isOffline()" class="full-image" src="img/genericProduct.jpg">

                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg positive">
                            <i class="icon ion-thumbsup"></i> {{product.ProductStore.likes}}
                        </a>
                        <a class="tab-item stable-bg assertive-900">
                            Q. {{product.ProductStore.normalPrice}}
                        </a>
                        <a class="tab-item stable-bg balanced-900">
                            Q. {{product.ProductStore.offerPrice}}
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="list half">
            <div ui-sref="app.detalle" class="card card-gallery item item-text-wrap" ng-repeat="product in products" ng-last-repeat="mylist" ng-if="$even">

                <div ng-click="setProductDetail(product)">
                    <div class="ink dark-bg">
                        <h2>{{product.description}}</h2>
                        <img ng-if="$parent.isOnline()" class="full-image" ng-src="http://res.cloudinary.com/k3n3th/image/upload/v1455838760/unisuper/{{product.ProductStore.image}}">
                        <img ng-if="$parent.isOffline()" class="full-image" src="img/genericProduct.jpg">

                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item stable-bg positive">
                            <i class="icon ion-thumbsup"></i> {{product.ProductStore.likes}}
                        </a>
                        <a class="tab-item stable-bg assertive-900">
                             Q. {{product.ProductStore.normalPrice}}
                        </a>
                        <a class="tab-item stable-bg balanced-900">
                             Q. {{product.ProductStore.offerPrice}}
                        </a>
                    </div>
                </div>

            </div>
            <div ng-if="products !== undefined && !products.length" class="no-results">
                <p>No existen productos en oferta</p>
            </div>
            <ion-infinite-scroll on-infinite="loadMore()" ng-if="deviceReady">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>
